.message
  display flex
  justify-content space-between
  width 100%
  padding 20px 15px

  &__body
    flex-grow 2
    padding 0 20px

  &__meta
    padding-bottom 5px
    border-bottom 1px solid #ccc

  &__name
    margin-right 15px
    font-size 16px
    cursor pointer

  &__date
    margin-right 10px
    font-size 12px
    color #222

  &__text
    margin-top 15px
    font-size 14px

  &__status
    float right

  &__status-label
    font-size 12px
    color #ccc

    .fa
      margin-right 5px
      color #094

  &__spinner
    margin-bottom 15px
